.menu-bar {
    -fx-background-color: #1a1a1a;
}

.menu-bar .label {
    -fx-text-fill: white;
}

.menu {
    -fx-background-color: #1a1a1a;
}

.menu .label {
    -fx-text-fill: white;
}

.menu:hover,
.menu:showing {
    -fx-background-color: #deba1f;
}

.menu:hover .label,
.menu:showing .label {
    -fx-text-fill: #1a1a1a;
}

.menu-item .label {
    -fx-text-fill: white;
}

.menu-item:hover {
    -fx-background-color: #deba1f;
}

.menu-item:hover .label {
    -fx-text-fill: #1a1a1a;
}

.menu-item:focused {
    -fx-background-color: #deba1f;
}

.menu-item:focused .label {
    -fx-text-fill: #1a1a1a;
}

.context-menu {
    -fx-background-color: #1a1a1a;
}

.menu:hover .menu-item .label,
.menu:showing .menu-item .label {
    -fx-text-fill: white;
}

.pane {
    -fx-background-color: #1a1a1a;
}

.handle {
    -fx-fill: #deba1f;
}

.arc {
    -fx-stroke: #3f3f3f;
}

.filledArc {
    -fx-stroke: #deba1f;
}

.timerText {
    -fx-fill: white;
}

.button,
.smallButton {
    -fx-background-color: #deba1f;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 4, 0, 0, 1);
}

.button:hover,
.smallButton:hover {
    -fx-background-color: #ECCA3D;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 6, 0, 0, 2);
    -fx-translate-y: -1px;
}
